@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");

@import "./variables";
@import "./transitions";


@mixin card {
    transition: all 0.3s ease;
    background-color: $card_color;
    padding: 1rem;
    border-radius: 2px;
    will-change: transform;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
}

html {
  background-color: $primary_color;
  font-family: "Roboto";
}

.container {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

.drop-area {
    position: relative;
    transition: all .4s ease-out;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $secondary_color;
    height: auto;
    width: 100%;
    padding: 1rem;
    overflow: hidden;

    .zone {
        position: relative;
        overflow: hidden;
        background-color: $drop_area_color;
        height: auto;
        width: 50%;
        padding: 0.5rem;
        cursor: grab;

        &:first-child {
            margin-right: 0.5rem;
        }

        .card {
            @include card;
            &:not(:last-child) {
                margin-bottom: 0.4rem;
            }

            &:hover {
                background-color: $card_hover_color;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

                &::after {
                    opacity: 1;
                    transform: translate(0);
                }
            }

            &::after {
                position: absolute;
                content: "Modifier";
                font-weight: $font_heavy;
                right: 15px;
                font-size: 12x;
                cursor: pointer;
                transition: all 200ms;
                transition-timing-function: cubic-bezier(0.48, 0.72, 0.62, 1.50);
                transform: translateX(120%);
                opacity: 0;
            }
        }
    }
}


.textarea-card {
    @include card;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    height: 54px;
    width: 100%;
    margin-top: 0.5rem;
}
